*{
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container{
    position: absolute;
    left:0;
    
    height:auto;
    width:100%;
    
    background-size: cover;
    background-image: url(../img/wed.png);
    
    
}

  .mainlogo{

    height: 70px;
    width: 70px;

  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    
  }

  .topnavlist{

    padding-top: 25px;
  
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: darkgray;
  }
  
  .topnav a.active {
    
    color: darkgray;
  }


  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }


    .middle .full_wedding{
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left:5%;
      margin-right: 5%;
    
      
      
    }
    
  }
/*footer*/
.foot{
    
position: relative;
right:0;
bottom: 0;
left: 0;
padding: 20px;
background-color:#333;
margin-bottom: auto;
 
}



.foot a{
	
	text-decoration: none;
	color: white;
	font-style: italic;
	
}


.social{
	
	
	display:inline-block;
	float:right;
	height:;
}

.social img{

	 
	 width:30px;
	 height:30px;
	 
 }


.copyright{
	
	color: white;
	
}



.copyright{
	margin-right:0;
	color:white;
}
/*footer*/

.middle{

 
}

.full_wedding{
  padding: 5%;
  margin-top: -10%;
  border-style: solid;
  border-color: #333;
  border-width: 1px;
  width: 650px;
  height: 700px;
  color: cadetblue;
  font-family: 'Times New Roman';
  font-style: italic;
  text-align: center;
  display: inline-block;
  background-color: cornsilk;
}

.list{
  text-align: left;
}

.cust_wedding{

  padding: 12%;

  margin-top: -10%;
  border-style: solid;
  border-color: #333;
  border-width: 1px;
  width: 650px;
  height: 700px;
  color: cadetblue;
  font-family: 'Times New Roman';
  font-style: italic;
  text-align: center;
  display: inline-block;
  background-color: cornsilk;

}

.fullimg{

  padding: 5%;
  height: 700px;
  width: 650px;
}



