<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Pointers</display-name>
  <!--  <servlet>
  <servlet-name>AddPartyServlet</servlet-name>
  <servlet-class>package_party.AddPartyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AddPartyServlet</servlet-name>
  <url-pattern>/AddPartyServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>GetPartyServlet</servlet-name>
  <servlet-class>package_party.GetPartyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>GetPartyServlet</servlet-name>
  <url-pattern>/GetPartyServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>UpdatePartyServlet</servlet-name>
  <servlet-class>package_party.UpdatePartyServlet</servlet-class>
  </servlet>
  	 
  	 
  <servlet-mapping>
  <servlet-name>UpdatePartyServlet</servlet-name>
  <url-pattern>/UpdatePartyServlet</url-pattern>
  </servlet-mapping>-->
  
  	 

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>